<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AtendeClienteServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AtendeClienteServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
                binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding"
                contract="CorreiosServiceReference.AtendeCliente" name="AtendeClientePort" />
        </client>
    </system.serviceModel>
</configuration>